.main-title {
  width: calc(100% - 80px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.main-title__first-line,
.main-title__second-line {
  color: #fff;
  font-family: 'Lighthaus', sans-serif;
  text-align: center;
  margin: 0;
  background-color: #000;
}

.main-title__first-line {
  font-size: max(13.95vmin, 50.2px);
  padding-left: max(5vmin, 18px);
  padding-right: max(5vmin, 18px);
}

.main-title__second-line {
  margin-top: max(6.5vmin, 23.4px);
  line-height: max(6.5vmin, 23.4px);
  font-size: max(4.58vmin, 16.5px);
  padding-left: max(2.25vmin, 8.1px);
  padding-right: max(2.25vmin, 8.1px);
}
