.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.catalogue__title {
  font-family: 'Lighthaus', sans-serif;
  font-size: 70px;
  color: #fff;
  margin: 30px 0 50px;
  text-align: center;

  @media (max-width: 1250px) {
    font-size: 50px;
  }

  @media (max-width: 400px) {
    font-size: 45px;
  }
}

.catalogue__body {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  gap: max(1.5vw, 5.4px);
  margin-bottom: 30px;

  @media (max-width: 1250px) {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.catalogue__picture-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 25vw;
  height: 20vw;
  overflow: hidden;

  @media (max-width: 1250px) {
    width: max(75vw, 270px);
    height: max(60vw, 216px);
  }

  @media (hover: hover) {
    &:hover .catalogue__picture {
      filter: opacity(0.7);
    }
  }
}

.catalogue__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalogue__picture-info {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, max-content));
  grid-template-columns: 1fr;
  row-gap: 10px;
  visibility: hidden;
  background-color: #000;
  font-family: 'Lighthaus', sans-serif;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  z-index: 2;
  padding-left: max(2vw, 7.2px);
  padding-right: max(2vw, 7.2px);

  @media (hover: none) {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
  }

  @media (hover: hover) {
    .catalogue__picture-link:hover & {
      visibility: visible;
    }
  }
}

.catalogue__picture-name {
  margin-top: 10px;
  font-size: 1.7vw;
  line-height: 2.55vw;

  @media (max-width: 1250px) {
    font-size: max(6vw, 21.6px);
    line-height: max(9vw, 32.4px);
  }
}

.catalogue__picture-author-and-year {
  font-size: 1.2vw;
  line-height: 1.8vw;
  margin-bottom: 10px;

  @media (max-width: 1250px) {
    font-size: max(4.5vw, 16.2px);
    line-height: max(6.75vw, 24.3px);
  }
}
