.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.picture__header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, #000, transparent);
  z-index: 1;

  @media (max-width: 1250px) {
    height: 125px;
  }
}

.picture__homepage-link {
  margin-left: 45px;
  font-size: 0;

  @media (max-width: 1250px) {
    margin-left: 40px;
  }
}

.picture__logo {
  width: 60px;
  height: 60px;
  opacity: 0.7;

  @media (max-width: 1250px) {
    width: 45px;
    height: 45px;
  }
}

.picture__control-buttons {
  margin-right: 45px;

  @media (max-width: 1250px) {
    margin-right: 40px;
  }
}

.picture__image-hotspot-button {
  background-color: gray;
  background-image: url('./images/image-hotspot.svg');
}

.picture__control-button,
.picture__sound-button,
.picture__image-hotspot-button,
.picture__image-hotspot-video-close-button {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}

.picture__control-button,
.picture__sound-button,
.picture__image-hotspot-button {
  width: 45px;
  height: 45px;
  background-size: 45px 45px;

  @media (max-width: 1250px) {
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
  }

  @media (max-width: 450px) {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}

.picture__control-button,
.picture__sound-button {
  background-color: transparent;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1250px) {
    margin-right: 15px;
  }

  @media (max-width: 450px) {
    margin-right: 10px;
  }
}

.picture__control-button_return {
  background-image: url('./images/return.svg');
}

.picture__control-button_info {
  background-image: url('./images/info.svg');
}

.picture__image-hotspot-video-close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 32px;
  z-index: 2;
  background-image: url('./images/close.svg');
  background-color: gray;
  background-size: 40px 40px;
}
