.title {
  width: calc(100% - 80px);
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;

  &__first-line,
  &__second-line,
  &__third-line {
    color: #fff;
    font-family: 'Lighthaus', sans-serif;
    text-align: center;
    margin: 0;
  }

  &__first-line {
    font-size: 10.22vmin;
    line-height: 13.2vmin;
  }

  &__second-line {
    font-size: 13.95vmin;
    line-height: 17.95vmin;
  }

  &__third-line {
    font-size: 5.58vmin;
    line-height: 19.15vmin;
  }
}
