.triptih {
  display: flex;
  align-items: center;
  justify-content: center;
}

.triptih__left,
.triptih__middle,
.triptih__right {
  opacity: 0.35;
}

.triptih__left,
.triptih__right {
  width: 26vmin;
}

.triptih__middle {
  width: 30.59vmin;
}

.triptih__left {
  margin-right: 4.34vmin;
}

.triptih__right {
  margin-left: 4.34vmin;
}
