@font-face {
  font-family: 'Lighthaus';
  src: url('./Lighthaus/Lighthaus.eot');
  src:
    url('./Lighthaus/Lighthaus.eot?#iefix') format('embedded-opentype'),
    url('./Lighthaus/Lighthaus.woff2') format('woff2'),
    url('./Lighthaus/Lighthaus.woff') format('woff'),
    url('./Lighthaus/Lighthaus.ttf') format('truetype'),
    url('./Lighthaus/Lighthaus.svg#Lighthaus') format('svg');
}
