.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  flex-shrink: 0;

  @media (max-width: 1250px) {
    height: 125px;
  }
}

.header__homepage-link {
  margin-left: 45px;
  font-size: 0;

  @media (max-width: 1250px) {
    margin-left: 40px;
  }
}

.header__logo {
  width: 60px;
  height: 60px;

  @media (max-width: 1250px) {
    width: 45px;
    height: 45px;
  }
}

.header__menu-button {
  margin-right: 45px;
  cursor: pointer;
  border: 0;
  width: 35px;
  height: 35px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.333 341.333" style="enable-background: new 0 0 341.333 341.333;" xml:space="preserve"%3E%3Cpath d="M0 277.333h341.333V320H0zm0-128h341.333V192H0zm0-128h341.333V64H0z" style="fill: %23fff;"/%3E%3C/svg%3E');
  background-color: transparent;
  background-size: 35px 35px;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1250px) {
    margin-right: 40px;
    width: 23.5px;
    height: 23.5px;
    background-size: 23.5px 23.5px;
  }
}
